.form {
  text-align: center;
  color:whitesmoke;
  }
  body {
    background: linear-gradient(to right, #606c88, #3f4c6b);
  }
h1{
  font-family: 'Cinzel', serif;
}
.card{
  margin-left:30%;
  margin-right: 30%;
  background: linear-gradient(to right, #606c88, #3f4c6b);
}
p{
  font-size: 1.5 em;

}
.Paragraphs{
  font-family: 'Old Standard TT', serif;
}
